/*
 * Copyright 2025 Adam McKellar <dev@mckellar.eu>
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */
  
$standard-element-height: 40px
$round-radius: calc($standard-element-height / 2)
    
:root
    --primary-color: #ffadad
    --secondary-color: #973aa3
    --accent-color: #bec1fb
    --neutral-color: #ffffff
    --text-color: #333333  /* don't know */
    --ultra-text-color:rgb(27, 27, 27)
    --error-color: #be1d1d
    --error-text: #ff2727

@media (prefers-color-scheme: dark)
    :root
        --primary-color:#981645
        --secondary-color: #cb4fdb
        --accent-color: #bec1fb
        --neutral-color:rgb(6, 10, 20)
        --text-color:rgb(185, 185, 185) /*  don't know */
        --ultra-text-color:rgb(223, 223, 223)
        --error-color: #be1d1d
        --error-text: #ff2c2c

@mixin invert-if-light()
    @media (prefers-color-scheme: light)
        filter: invert(100%)
    @media (prefers-color-scheme: none)
        filter: invert(100%)


*
    color: var(--text-color)
    margin: 0
    border-color: var(--accent-color)
    font-size: 13pt

h1
    font-size: xx-large
    margin: 7px 0

body
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: stretch
    min-height: 100vh
    background-color: var(--neutral-color)
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"

    main
        max-width: 90em
        width: 100%
        margin: 0 auto
        padding: 15px 10px
        box-sizing: border-box
        flex-grow: 1
        display: flex
        flex-direction: column
        justify-content: flex-start

        *
            padding: 4px

        nav
            display: flex
            flex-direction: row
            justify-content: flex-start
            align-items: stretch

        button
            background-color: var(--primary-color)
            border-color: var(--primary-color)
            color: var(--ultra-text-color)
            padding: 0
            height: $standard-element-height
            border-style: solid     

        button[class="right-rounded"]
            padding: 5px 15px 5px 10px

        button:hover
            filter: brightness(120%)
        
        button:disabled
            border-color: var(--primary-color)
            @media (prefers-color-scheme: dark)
                filter: brightness(60%)
            @media (prefers-color-scheme: light)
                filter: brightness(80%)
                opacity: 70%

        button[class~="cancel"]
            background-color: var(--neutral-color)
            border-color: var(--secondary-color)
            color: var(--secondary-color)

        select
            background-color: var(--neutral-color)
            border-color: var(--primary-color)
            color: var(--ultra-text-color)
            height: $standard-element-height
            padding: 0px 15px
            border-style: solid
            border-width: 2px
            border-left: unset

        select + label
            padding: 0px 15px
        
        input
            background-color: var(--neutral-color)
            border-color: var(--primary-color)
            color: var(--ultra-text-color)
            height: $standard-element-height
            box-sizing: border-box
            border-style: solid

        input:focus, select:focus
            outline: 0
            box-shadow: 0 0 3px 3px var(--primary-color)
            

        input[class~="invalid"]
            border-color: var(--error-color)
            border-style: dashed

            + label
                color: var(--error-text)

            :focus
                box-shadow: 0 0 3px 3px var(--error-color)

        fieldset
            display: flex
            flex-direction: column
            padding: 0
            margin: 0
            border: 0
            min-width: 40px

            label
                font-size: 11pt 
                padding-top: 6px

        @mixin left-rounded()
            border-top-left-radius: $round-radius
            border-bottom-left-radius: $round-radius
            

        .left-rounded
            @include left-rounded

        input[class~="left-rounded"]
            padding: 0px 15px

        *[class~="left-rounded"] + *
            padding-left: 15px

        @mixin right-rounded()
            border-top-right-radius: $round-radius
            border-bottom-right-radius: $round-radius

        .right-rounded
            @include right-rounded

        textarea
            background-color: var(--neutral-color)
            padding: 15px 15px
            resize: none
            // font-size: 10pt
            color: var(--ultra-text-color)
            
        textarea[class~="hard-wrap"]
            word-break: break-all
            
        *[class~="max"]
            flex-grow: 1

        div[class~="max"]
            display: flex
            flex-direction: column

            label
                font-size: 11pt 
                padding-top: 6px

        *[disabled]
            border-color: calc( var(--accent-color) * 0.8  )

        *[class~="width-6em"]
            width: 6em

        *[class~="right-align"]
            display: flex
            justify-content: flex-end

        button[class~="circle"]
            width: $standard-element-height
            height: $standard-element-height
            display: flex
            justify-content: center
            align-items: center
            padding: 0
            @include left-rounded()
            @include right-rounded()
            

        img[class~="icon"]
            width: 18pt
            height: 18pt
            @include invert-if-light()

        .spinner
            border: 4px solid #757575a1
            border-top: 4px solid var(--primary-color)
            border-radius: 50%
            width: $standard-element-height
            height: $standard-element-height
            animation: spin 1.2s linear infinite

            @keyframes spin 
                0%
                    transform: rotate(0deg)
                100%
                    transform: rotate(360deg)

        .center-spinner
            display: flex
            height: 200px
            justify-content: center
            align-items: center

        .center-spinner[hidden]
            display: none

    footer
        display: flex
        flex-direction: row
        justify-content: center
        align-items: center
        height: 50px

        *
            padding: 0 20px

        a
            text-decoration: none
            display: flex
            justify-content: center
            align-items: center

            span
                text-decoration: underline

            *
                padding: 0 4px

        [class~="smaller-gap"] *
            padding: 0 2.5px


    img[class~="icon"]
        width: 18pt
        height: 18pt
        @include invert-if-light()

*[hidden]
    visibility: hidden

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button
  -webkit-appearance: none
  margin: 0

input[type=number]
  -moz-appearance: textfield

select
    -moz-appearance: none
    -webkit-appearance: none
    appearance: none
